.header-image {
    width: 100%;
    margin-top: -2em;
    margin-bottom: 2em;
}

.about-late-night {
    float: left;
    margin: 0 1em 1em 0;
}

#collapsible-panel-example-3 {
    background-color: orange !important;
    color: #229988 !important;
    width: 70% !important;
}


.control-label {
    color: orange !important;
}

.box-color {
    background-color: black;
    padding: 2px;
}

#image-box {
    background-color: navy;
    padding: 40px;
}

#member-info {
    background-color: navy;
    padding: 20px;
}



li {
    color: white !important;
}

/*body{*/
    /*background-color: red;*/
/*}*/

.about-late {
    width: 95% !important;
    height: 100% !important;
}

.show-grid {
    margin-top: 30px;
}

.profile-pic {
    width: 32%;
}

.profile-hero {
    background-attachment: scroll;
    background-image: url('../assets/atl_ga.jpeg');
    margin-top: -20px;
    height: 142vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@media (max-width: 400px) {}