.header-image {
    width: 100%;
    margin-top: -2em;
    margin-bottom: 2em;
}

.about-late-night {
    float: left;
    margin: 0 1em 1em 0;
}

#collapsible-panel-example-3 {
    background-color: orange !important;
    color: #229988 !important;
    width: 70% !important;
    margin-top: 15px !important;
    margin: auto;
}


.control-label {
    color: orange !important;
}

.box-color {
    background-color: black;
    text-align: center;
    padding: 2px;

}

#image-box {
    background-color: navy;
    padding: 25px;
}

#member-info {
    background-color: navy;
    padding: 20px;
}

.form-box {
  width: 68%;
}

.form-group {

}

li {
    color: white !important;
}

/*body{*/
    /*background-color: red;*/
/*}*/

.about-late {
    width: 95% !important;
    height: 100% !important;
}

.show-grid {
    margin-top: 30px;
}

.profile-pic {
    width: 31%;
}

.profile-hero {
    background-attachment: scroll;
    background-image: url('../assets/atl_ga.jpeg');
    margin-top: -20px;
    height: 152vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@media (max-width: 400px) {}