.header-image {
    width: 100%;
    margin-top: -2em;
    margin-bottom: 2em;
}

.about-late-night {
    float: left;
    margin: 0 1em 1em 0;
}

#collapsible-panel-example-3 {
    background-color: purple !important;
    color: #229988 !important;
}


.control-label {
    color: orange !important;
}