.sidebar-section img {
    width: 100%;
    margin-bottom: 2em;
}

.submit-last {
    background-color: purple !important;
    color: orange !important;
}

.input-field {
    background-color: purple !important;
}

.last-call-hero {
    background-attachment: scroll;
    background-image: url('../assets/atl_ga.jpeg');
    margin-top: -20px;
    height: 82vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@media (max-width: 400px) {
   .last-call-hero {

   }
}
