/*.modal-container {*/
/*position: relative;*/
/*}*/
/*.modal-container .modal, .modal-container .modal-backdrop {*/
/*position: absolute;*/
/*}*/

.modal-container {

width: 10px;
    margin-bottom: 20px;
    padding-top: 30px;
    margin-left: 20px;

}

